<a href="" class="btn btn-warning btn-icon-split">
  <span class="icon text-white-50">
    <%= fa_icon "folder" %>
  </span>
  <span class="text">Open TAP file</span>
</a>

<%= form_with model: @tap, url: "/upload", multipart: true do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>

  <%= form.label :file %>
  <%= form.file_field :file %>

  <%= form.submit "Upload" %>
<% end %>