<!DOCTYPE html>
<html>
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->
    <%= stylesheet_link_tag 'all.min', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <!-- Nunito -->
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- SB Admin -->
    <%= stylesheet_link_tag 'sb-admin-2.min', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!-- Application -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!-- Bootstrap core JavaScript-->
    <%= javascript_include_tag 'jquery.min', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'bootstrap.bundle.min', 'data-turbolinks-track': 'reload' %>

    <!-- Core plugin JavaScript-->
    <%= javascript_include_tag 'jquery.easing.min', 'data-turbolinks-track': 'reload' %>
    
    <!-- Custom scripts for all pages-->
    <%= javascript_include_tag 'sb-admin-2.min', 'data-turbolinks-track': 'reload' %>

    <title>Stage</title>
    
  </head>

  <body class="bg-gradient-primary">
    <%= yield %>
  </body>
</html>
